<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' 'unsafe-inline'"
    />
    <title>Rock Downloader</title>
  </head>
  <body>
    <div id="root" style="background-color: #121e2a; border-radius: 5px; height: 100%; width: 100vw;"></div>
  </body>
</html>
